# ansible
ansible-azure.cache
*.retry
vault_password_file

# terraform
*.tfstate.*.backup
*.tfstate.backup
.terraform/
errored.tfstate
terraform.tfstate

#google-cloud
account.json

# azure
manifest.json

*.log
